{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.promo.enable }}
{{ with $data.homepage.promo }}
<section class="bg-orange section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center mb-5 mb-lg-0">
        <img class="img-fluid" src="{{ .image | absURL }}" alt="{{ .text }}">
      </div>
      <div class="col-md-6 align-self-center text-center text-md-left">
        <div class="content">
          <h1 class="font-weight-bold mb-10">{{ .title | markdownify }}</h1>
          <p class="mb-4">{{ .content | markdownify }}</p>
		  <!-- include button -->
		  {{ if .button.enable }}
		  {{ with .button }}
		  <a href="{{.link|absLangURL}}" class="btn btn-main">{{.label}}</a>
		  {{ end }}
		  {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}